button:hover{
    background: rgb(88, 88, 255);  
    color:white;
}
.left-boxes{
    display: flex;
    margin-right: 60px;
    flex-direction: column;
}
.box1 {
    flex-wrap: wrap;
}
.box1 button{
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid black;
}
.box2 button{
    width: 213px;
    height: 50px;
    border: 1px solid black;
    margin: 5px;
}
