h1{
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
.select1{
  display: flex;
  justify-content: center;
}
.b1{
  border-radius: 10px;
  margin-right: 50px;
  width: 500px;
  height:80px;
  background-color: rgb(255, 99, 99);
  color: white;
  border: none;
}
.b2{
  border-radius: 10px;
  background-color:gray;
  width:500px;
  height:80px;
  color:white;
  border: none;
}