header {
    background-color: #f0f0f0;
    padding: 20px;
}
h1 {
    text-align: center;
}
main {
    padding: 20px;
    display: flex;
}
.box{
    flex-wrap: wrap;
}
/* .check{
    display:flex;
}
.checkbox{
    justify-content: center;
    flex-wrap:flex;
} */